<!doctype html>
<html lang="zh-CN">
<head><meta charset="UTF-8"><style>{{ .Stylesheet }}</style></head>
<body class="elem-hydro default-mode">
<div class="container" id="container">
  <div class="head-box type">
    <div class="title">#幽境危战<span class="time">{{ .begin }} - {{ .end }}</span></div>
    <div class="uid">UID:{{ .uid }}</div>
  </div>
  <div class="info_box">
    <div class="hard-stat-cont">
      <div class="hard-stat">
        <div class="cont">
          <div class="stat-title"><span>难度</span></div>
          <div class="stat-msg"><strong>{{ .difficulty }} · {{ .difficulty_name }}</strong></div>
        </div>
        <div class="cont">
          <div class="stat-title time"><span>总用时</span></div>
          <div class="stat-msg time"><strong>{{ .second }} 秒</strong></div>
        </div>
      </div>
    </div>
  </div>
  {{ range .battles }}
  <div class="cont">
    <div class="cont-body">
      <div class="hard-title"><strong>{{ .name }}</strong><span>用时 {{ .second }} 秒</span></div>
      <div class="hard-chall-team">
        <div class="hard-team">{{ range .team }}{{ template "card" . }}{{ end }}</div>
        <div class="line"></div>
        <div class="hard-info">
          <div class="hard-info-line">
            <div class="hard-enemy-container">
              <div class="hard-best-header">Lv. {{ .monster.level }}</div>
              <div class="hard-best-content">
                <div class="hard-content-container"><div class="hard-content-icon"{{ with .monster.icon }} data-render-resource="{{ . }}"{{ end }}></div></div>
              </div>
            </div>
            {{ range $index, $best := .best }}{{ if lt $index 2 }}
            <div class="hard-best-container">
              <div class="hard-best-header">{{ if eq $index 0 }}最强一击{{ else }}最高总伤害{{ end }}</div>
              <div class="hard-best-content column">
                <div class="best-avatar-container"><div class="avatar-banner"{{ with $best.face }} data-render-resource="{{ . }}"{{ end }}></div></div>
                <div class="best-number-container"><p class="best-number">{{ $best.dps }}</p></div>
              </div>
            </div>
            {{ end }}{{ end }}
          </div>
        </div>
      </div>
      <div class="hard-chall-desc">
        <ul>
          {{ range .monster.traits }}<li class="hard-chall-desc-item">{{ range . }}{{ if .color }}<span style="color:{{ .color }}">{{ .text }}</span>{{ else }}{{ .text }}{{ end }}{{ end }}</li>{{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="cont hard-notice">
    <div class="cont-body">
      <ul class="cont-msg">
        <li>角色装备与圣遗物为当前最新状态</li>
        <li><strong>组队模式</strong>的查询仅根据查询信息与当前角色状态的关系<strong>猜测</strong>每个角色是否为自己上场的角色</li>
      </ul>
    </div>
  </div>
  {{ with .render_footer }}<div class="copyright">{{ . }}</div>{{ end }}
</div>
</body>
</html>
{{ define "card" }}
<div class="avatar-card elem-{{ .elem }} avatar-{{ .name }} card-{{ .type }}">
  <div class="card">
    {{ if .known }}
    <div class="avatar-face item-icon star{{ .star }}">
      <div class="img mini"{{ with .face }} data-render-resource="{{ . }}"{{ end }}></div>
      <div class="img wide avatar-{{ .name }}"{{ with .gacha }} data-render-resource="{{ . }}"{{ end }}></div>
      {{ if .popular }}<span class="popularity">UP!</span>{{ end }}
      <span class="cons cons-{{ .cons }} mini">{{ .cons }}</span>
      <div class="avatar-level"><span>Lv</span>{{ .level }} {{ .abbr }}</div>
    </div>
    <div class="avatar-info">
      <div class="avatar-name wide">
        <strong>{{ .abbr }}</strong>
        <div class="lv-info">
          <span class="cons cons-{{ .cons }}">{{ .cons }}</span>
          <span class="avatar-level">Lv{{ .level }}</span>
        </div>
        <div class="line"></div>
      </div>
      {{ with .talents }}
      <div class="avatar-talent">{{ range . }}<span class="talent-item talent-{{ .key }} talent-{{ if .crown }}crown{{ else }}none{{ end }} talent-{{ if .plus }}plus{{ else }}none{{ end }}">{{ .level }}</span>{{ end }}</div>
      {{ else }}
      <div class="avatar-talent no-talent"><span>暂无天赋数据</span></div>
      {{ end }}
      <div class="line"></div>
      <div class="avatar-detail">
        <div class="item avatar-weapon">
          {{ with .weapon }}
          <div class="item-icon star{{ .star }}">
            <span class="img"{{ with .icon }} data-render-resource="{{ . }}"{{ end }}></span>
            <span class="cons cons-{{ .badge }}">{{ .affix }}</span>
          </div>
          {{ else }}
          <div class="item-icon star"><span class="img"></span><span class="cons cons-"></span></div>
          {{ end }}
        </div>
        <div class="item avatar-artis artis{{ len .artis }}">
          <div class="artis item-icon">{{ range .artis }}<div class="img" data-render-resource="{{ . }}"></div>{{ end }}</div>
          <div class="item-info wide"></div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
